h1 {
    color: blue;
    font-family: verdana, serif;
    background-color:  seagreen;

    font-size: 300%;
}
p {
    color: red;
    font-family: courier, sans-serif;
    font-size: 160%;
}

.class1 {
    font-style: italic;
    background-color: white;

}
@media print {
    .class1
    {
        background-color: hotpink;
    }
}


img
{
    /*alt:"picture does not found :)" ;*/
    width:500px;
    height:500px;
    float: left;
}
/*div{background-color: black;color: white;padding: 20px}*/